[phases.setup]
nixPkgs = ["nodejs_20", "bun", "openssl"]

[phases.install]
cmd = "npm ci"

[phases.build]
cmd = "npm run build"
dependsOn = ["install"]

[phases.start]
cmd = "npm run serve"

[providers]
node = true
deno = false 